/* Headings */
h1 { margin-bottom: 0; }
h1 + hr { margin: 0.5em 0; }
h3 { margin-bottom: 0.3em; }

/* Navigation */
nav ul {
  margin: 0.3em 0;
}
nav ul > li + li {
  padding-left: 0.5em;
}

/* Horizontal lists */
ul.horizontal { list-style-type: none; padding-left: 0; }
ul.horizontal li { display: inline-block; }

/* Centering */
.center { text-align: center; }

/* Paragraph */
html > body > div.container p {
  margin-top: 1em;
  text-indent: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Blog */
article h2 { margin-bottom: 0; }
html > body > div.container article > header > p { margin: 0; }
.archive ul { list-style-type: none; }

/* Flickr */
.flickr { margin-bottom: 1em; }
.flickr p { font-style: italic; margin: 0; }

/* Sign in */
.provider {
  background-image: url(/images/providers_large.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 150px;
}
