/* Headings */
h1 {
  margin-bottom: 0;
}

h1 + hr {
  margin: 0.5em 0;
}

h3 {
  margin-bottom: 0.3em;
}

/* Navigation */
nav ul {
  list-style-type: none;
  margin: 0.3em 0;
  padding-left: 0;
}

nav > ul > li {
  display: inline-block;
  vertical-align: top;
}

nav h3 {
  padding-top: 0;
}

/* Footer */
footer {
  text-align: center;
}

/* Paragraph */
html > body > div.container p {
  margin-top: 1em;
  text-indent: 0;
}

/* Blog */
.archive ul {
  list-style-type: none;
}

.flickr {
  margin-bottom: 1em;
}

.flickr p {
  font-style: italic;
  margin: 0;
}

/* Sign in */
.provider {
  background-image: url(/images/providers_large.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 150px;
}
