%table
  %thead
    %tr
      - %w(name email approved active).each do |field|
        %th= t(".#{field}")
  %tbody
    - @subscribers.each do |subscriber|
      %tr
        %td= subscriber.name
        %td= subscriber.email
