- personal ||= false
- conditions = { personal: personal }
- conditions[:published] = true unless admin?
- items = Post.where(conditions)
= render partial: 'layouts/archive', locals: { items: items }
