%h2= t ".archive"
%ul
  - Post.where(:personal => defined?(personal) ? personal : false).reverse.each do |post|
    %li<
      - if current_page?(post)
        %span{:"data-href" => post_path(post)}= post.title
      - else
        = link_to post.title, post
