.span-17.colborder
  - @posts.reverse[0..2].each do |post|
    = render :partial => "posts/post", :locals => { :post => post }
    %hr
.archive
  = render :partial => "archive", :locals => { :personal => true }
