- all_code ||= Code.find(:all)
%h2= t ".archive"
%ul
  - all_code.each do |code|
    %li<
      - if current_page?(code)
        %span{:"data-href" => code_path(code)}= code.title
      - else
        = link_to code.title, code
