- code ||= item
- default_buttons = []
- default_buttons << [t('.download'), code.download] if code.download?
- default_buttons << [t('.source'), code.source] if code.source?
%article
  %header
    %h2= link_to code.title, code
    = render partial: 'layouts/buttons', locals: { defaults: default_buttons, item: code, path: edit_code_path(code) }
  ~ render_markup code.description, :safe => true
