.span-17.colborder
  = link_to t(:new), new_code_path if admin?
  - @code.each do |code|
    = render :partial => "code", :locals => { :code => code }
    %hr
.archive
  = render :partial => "archive"
  = content_tag :p, link_to(t(:view_by_language, :scope => :code), languages_path)
