<div class="span-17 colborder">
  <%= link_to t(:new), new_code_path if admin? %>
  <% @code.each do |code| %>
    <%= render :partial => "code", :locals => { :code => code } %>
    <hr>
  <% end %>
</div>
<div class="archive">
  <%= render :partial => "archive" %>
</div>
