pre, code, tt {
  font-family: 'Menlo', 'Monaco', 'Courier New', 'Terminal', monospace !important;
  line-height: 1em;
}

.CodeRay {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  overflow: auto;
}

.CodeRay pre {
  background-color: #fff;
  margin: 0;
}

.CodeRay .comment   { color: #999999; font-style: italic; } /* comment */
.CodeRay .class     { color: #FFF }                         /* class */
.CodeRay .constant  { color: #0086b3 }                      /* constant */
.CodeRay .float     { color: #1c9898 }                      /* float */
.CodeRay .function  { color: #FFC56D }                      /* function */
.CodeRay .integer   { color: #1c9898 }                      /* integer */
.CodeRay .il        { background: #151515 }                 /* inline code */
.CodeRay .iv        { color: #D0CFFE }                      /* instance variable */
.CodeRay .pp        { color: #E7BE69 }                      /* doctype */
.CodeRay .r         { color: #CB7832 }                      /* keyword */
.CodeRay .regex     { color: #A4C260 }                      /* regex */
.CodeRay .string    { color: #d81745 }                      /* string */
.CodeRay .symbol    { color: #960b73 }                      /* symbol */
.CodeRay .ta        { color: #E7BE69 }                      /* html tag */
.CodeRay .pc        { color: #6C9CBD }                      /* boolean */
