@mixin comment-base($left) {
  border-left: 1px solid #eee;
  margin-left: $left; }

article {
  article {
    padding: 0.5em;
    h4 {
      margin-bottom: 0; } }
  article:nth-child(even) {
    background-color: #e5ecf9; }
  aside + aside {
    margin-top: 1em; } }

/* Comment indent */
.indent-1 {
  @include comment-base(30px); }
.indent-2 {
  @include comment-base(60px); }
.indent-3 {
  @include comment-base(90px); }
.indent-4 {
  @include comment-base(120px); }

/* Reply to */
#reply_to {
  display: none; }
