@mixin notice($bg, $border, $text) {
  background-color: $bg;
  border-color: $border;
  border-width: 1px;
  color: $text; }

.alert {
  @include notice(#f9e5ec, #c06, #903); }
.notice {
  @include notice(#fff6bf, #ffd324, #514721); }
.success {
  @include notice(#e5f9ec, #0c6, #093); }
