$main_color: #3648d1;
$very_light: lighten($main_color, 40%);
$light:      lighten($main_color, 30%);
$dark:       darken($main_color, 15%);
$very_dark:  darken($main_color, 20%);

body {
  background-color: #f5f5f5;
  > footer {
    padding-top: 1.5em; } }
.container {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 1em; }

a {
  color: $main_color; }

#header {
  background: $dark;
  background: -moz-linear-gradient(top, $dark, $very_dark);
  background: -webkit-gradient(linear, left top, left bottom, from($dark), to($very_dark));
  color: #fff;
  padding: 0.3em;
  .border {
    border-right-color: $dark; }
  a {
    color: $light; }
  h1 {
    .first {
      color: #fff; } }
  hr {
    background-color: $dark; } }
