%hr.clear
.left
  - %w(opening closing time_zone).each do |field|
    .field
      = f.label field, class: "span-3"
      = f.text_field field
%ul.no-bullet.push-1
  - %w(sunday monday tuesday wednesday thursday friday saturday).each do |day|
    %li
      = f.check_box day
      = f.label day
